<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.ordina.offlinestorage" >

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.OfflineStorageActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragment.InternalStorageFragment"
            android:label="@string/title_activity_internal_storage" >
        </activity>
        <activity
            android:name=".fragment.SharedPreferencesFragment"
            android:label="@string/title_activity_shared_preferences" >
        </activity>
        <activity
            android:name=".fragment.SqlLiteFragment"
            android:label="@string/title_activity_sql_lite" >
        </activity>
        <activity
            android:name=".fragment.SqlCipherFragmentHardcodedPassword"
            android:label="@string/title_activity_sql_cipher" >
        </activity>
        <activity
            android:name=".activity.SqlCipherActivityWithNativeInterface"
            android:label="@string/title_activity_sql_cipher_activity_with_native_interface" >
        </activity>
        <activity
            android:name=".fragment.TamperDetectionFragment"
            android:label="@string/title_activity_tamper_detection" >
        </activity>
        <activity
            android:name=".fragment.DeviceSpecificKeyFragment"
            android:label="@string/title_activity_device_specific_key" >
        </activity>
        <activity
            android:name=".fragment.EncryptedInternalStorageFragment"
            android:label="@string/title_activity_encrypted_internal_storage" >
        </activity>
    </application>

</manifest>
